<div class="span-11 push-6" id="box">
	<%= form_for @user do |f| %>

		<fieldset class="inputs">
			<ol>
			<li>
				<div class="span-4"><%= f.label :name %></div>
				<div class="span-5 last"><%= f.text_field :name %></div>
			</li>
			
			<li>
				<div class="span-4"><%= f.label :email %></div>
				<div class="span-5 last"><%= f.text_field :email %></div>
			</li>
			<li>
				<div class="span-4"><%= f.label :password %></div>
				<div class="span-5 last"><%= f.password_field :password %></div>
			</li>
			<li>
				<div class="span-4"><%= f.label :password_confirmation %></div>
				<div class="span-5 last"><%= f.password_field :password_confirmation %></div>
			</li>
				

			<% if @user.errors.any? %>
				<div class="span-6 push-4" id="error_explanation">
				<ul>
					<% @user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
				</div>
			<% end %>
			<li>
				<div class="span-4 push-4 prepend-top"><%= f.submit %></div>		
			</li>
			</ol>
		</fieldset>
	</div>
<% end %>
