<div class="span-7">
	<div id="box">
		<h3>Filter your Search</h3>
		<div id="search">
		Search field here
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
</div>

<div class="span-16" id="box">


	<div class="span-16 last result_header">Search Results</div>
	<% @vehicles.each do |vehicle| %>

	<div class="span-16 last" id="news_item_box">

		<div  class="span-7 result_image">
			<td><%= image_tag vehicle.photo_URL,:width => '240' %></td>
		</div>
		<div class="span-8 last">
			<div class="span-8 last result_title">
				<%= vehicle.make %> <%= vehicle.model %> <%= vehicle.style %>
			</div>
			<div class="span-2 result_bold"> Model Year	</div>
			<div class="span-6 last">
				<%= vehicle.year %>
			</div>
			<div class="span-2 result_bold"> Mileage </div>
			<div class="span-6 last">
				<%= vehicle.mileage %>
			</div>
			<div class="span-2 result_bold"> Sale Price	</div>
			<div class="span-6 last">
				<%= vehicle.sale_price %>
			</div>
			<div class="span-2 result_bold"> Details </div>
			<div class="span-6 last">
				<%= vehicle.short_description %>
			</div>
		</div>
	</div>
	<% end %>
</div>
