<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @vehicle.year %>
</p>

<p>
  <b>Make:</b>
  <%= @vehicle.make %>
</p>

<p>
  <b>Model:</b>
  <%= @vehicle.model %>
</p>

<p>
  <b>Style:</b>
  <%= @vehicle.style %>
</p>

<p>
  <b>Mileage:</b>
  <%= @vehicle.mileage %>
</p>

<p>
  <b>State:</b>
  <%= @vehicle.state %>
</p>

<p>
  <b>City:</b>
  <%= @vehicle.city %>
</p>

<p>
  <b>Sale price:</b>
  <%= @vehicle.sale_price %>
</p>

<p>
  <b>Photo url:</b>
  <%= @vehicle.photo_URL %>
</p>

<p>
  <b>Status:</b>
  <%= @vehicle.status %>
</p>

<p>
  <b>Short description:</b>
  <%= @vehicle.short_description %>
</p>

<p>
  <b>Details:</b>
  <%= @vehicle.details %>
</p>

<p>
  <b>Vehicle type:</b>
  <%= @vehicle.vehicle_type %>
</p>

<p>
  <b>License plate:</b>
  <%= @vehicle.license_plate %>
</p>

<p>
  <b>Contact name:</b>
  <%= @vehicle.contact_name %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @vehicle.contact_phone %>
</p>

<p>
  <b>Contact email:</b>
  <%= @vehicle.contact_email %>
</p>

<p>
  <b>Created by:</b>
  <%= @vehicle.created_by %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
