	<div class="span-4" id="logo">
			<h1>
				<a title="Changayi nannayal kannadi venda" href="/">changayi</a>
			</h1>
	</div>
	<div class="span-14"  id="header_nav">
		<ul>
			<li><%= link_to "Find Car", '/buy' %></li>
			<li><%= link_to "Find Bike", '/buy' %></li>
			<li><%= link_to "Sell", '/sell' %></li>
			<li><%= link_to "Reviews", '/reviews' %></li>
			<li><%= link_to "Research", '/research' %></li>	
		</ul>
	</div>
	<div class="span-6 last" id="account_links">
		<ul>
			<% if current_user %>
				<li><%= link_to "Sign Out", log_out_path %></li>
				<li><%=link_to current_user.name, accounts_path %></li>
			<% else %>
				<li><%= link_to "Sign up", sign_up_path %></li>
				<li><%= link_to "Sign In", log_in_path %></li>
			<% end %>
		</ul>
	</div>
