<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
	<%= stylesheet_link_tag "base" %>
	<%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="container" class="clearfix">
		<div id="header_container">
			<div id="header">
				<div id="header_inner">
					<%= render 'layouts/header' %>
				</div>
			</div>
		</div>
		<div id="main" class="clearfix">
			<div id="content_container">
			<%= yield %>
			</div>
		</div>
	
		<div class="footer_wrapper_top">
				<div class="footer">
					<ul>
						<%= render 'layouts/footer' %>
					</ul>
				</div>
		</div>
	</div>
</body>
</html>
