<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%= stylesheet_link_tag 'application'%>
	<!--[if lt IE 8]>
		<%= stylesheet_link_tag 'ie' %>
	<![endif]-->
	
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="main">
	<div id="main_header">
		<div class="container grid">
			<div class="span-24" id="header_container ">
				<%= render 'layouts/header' %>
			</div>
		</div>
	</div>
	<div id="main_content">
		<div class="container">
			<div class="span-24" id="container_content">
				<%= yield %>
			</div>
		</div>
	</div>
	<div id="main_footer">
		<div class="container">
			<div class="span-24" id="footer_links">
				<%= render 'layouts/footer' %>
			</div>
		</div>
	</div>
	</div>

</body>
</html>
